@import "~normalize.css";

a { 
    text-decoration: none;
    color: #000;
}
a:hover { 
    text-decoration: underline;
    opacity: 0.5;
}

pre{
    overflow: auto;
    background: #011627;
    border-radius: 5px;
    padding: 10px;
}