.container{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    .main{
        padding: 0 20px;
        flex: 1;
    }
}

@media(min-width: 768px) {
    .index{
        width: 50%;
        margin: 0 auto;
    }
    .blog{
        width: 70%;
        margin: 0 auto;
    }
}